* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

nav {
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0px 9px 28px 0px rgba(0,0,0,0.75);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: aliceblue;
    background-color:blueviolet;
}
main {
    margin-top: 6rem;
   color: gray;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }

h1 {
    text-align: left;
    color: blueviolet;
    margin-left: 2rem;
}
#parrafo {
    margin-top: 2rem;
    margin-left: 5rem;
    font-size: 1.6rem;
    text-align: Left;

}
footer {
    align-self: flex-end;
    width: 100%;
}
#footer {

    padding: 1rem;
    text-align: center;
    color: white;
    background-color: gray;
    font-size: 1.6rem;
}